@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background: linear-gradient(180deg, #faf5ff, white);
  color: #171717; /* text-neutral-900 */
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  transition: colors 200ms;
}

.btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #99f6e4; /* ring-2 ring-accent-200 */
}

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn-primary {
  background-color: #9333ea; /* bg-brand-600 */
  color: white;
  box-shadow: 0 4px 6px -1px rgba(88, 28, 135, 0.1);
}

.btn-primary:hover {
  background-color: #7e22ce; /* bg-brand-700 */
}

.card {
  background-color: white;
  border-radius: 1rem;
  border: 1px solid #ccfbf1; /* border-accent-100 */
  box-shadow: 0 10px 25px -10px rgba(88, 28, 135, 0.25);
}

.input {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  background-color: white;
  border: 1px solid #ccfbf1; /* border-accent-100 */
  outline: none;
}

.input:focus {
  border-color: #14b8a6; /* border-accent-500 */
  box-shadow: 0 0 0 2px #99f6e4; /* ring-2 ring-accent-200 */
}

